.navbar {
    background-color: #fff;
    border-bottom: 1px solid #d3d3d3;
    height: 60px;
    .container-fluid {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  .navbar-brand img {
    height: 30px;
  }
  
  .toggleButton {
    display: none;
  }
  
  @media (max-width: 768px) {
    .toggleButton {
      display: block;
    }
    .rightItems {
      display: none;
    }
  }
  