.main-content-test-wardrobe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    margin-left: -600px;
    margin-top: -350px;
  }
  .loading{
    margin-left: 500px;
  }