.services {
    background-color: #f9f9f9;
    padding: 80px 0;
    &__title {
      margin-bottom: 50px;
      text-align: center;
  
      h2 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.1;
        color: #444;
      }
  
      p {
        margin: 0;
        font-size: 16px;
        color: #777;
      }
    }
  
    &__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 40px;
  
      @media (max-width: 991px) {
        grid-template-columns: repeat(2, 1fr);
      }
  
      @media (max-width: 767px) {
        grid-template-columns: 1fr;
      }
    }
  
    &__card {
      background-color: #fff;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s ease;
  
      &:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      }
  
      &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        font-size: 48px;
        color: #d52b1e;
      }
  
      &__details {
        padding: 20px;
  
        h4 {
          margin-top: 0;
          margin-bottom: 10px;
          font-size: 20px;
          font-weight: bold;
        }
  
        p {
          margin-bottom: 0;
          font-size: 16px;
          color: #777;
        }
      }
    }
  }
  